<h2>Here's some shit we might say...</h2>
<p>
  BG: <%= @bg_saying %>
</p>
<p>
  BS: <%= @bs_saying %>
</p>
<p>
  ET: <%= @et_saying %>
</p>
<p>
  MB: <%= @mb_saying %>
</p>
<p>
  RH: <%= @rh_saying %>
</p>
